h1{
	color: #3492cc;
}
#instance_name{
	outline: none;
	margin: 5px;
	height: 20px;
	border: 1px solid #000000;
	border-radius: 10px;
}
#checkbox{
	display: flex;
}
#save_button{
	color: #ffffff;
	background-color: #56b4ee;
	margin: 5px;
	height: 20px;
	width: 50px;
	border: 0;
	border-radius: 10px;
	transition: 500ms;
}
#save_button:hover{
	background-color: #34a2cc;
}
#save_status{
	font-weight: bold;
}
