#_twishare_to_misskey_share{
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 10px;
	padding: 0;
	height: 40px;
	width: 40px;
	background-color: #33a300;
	text-align: center;
	border-radius: 20em;
	border: none;
	z-index: 2147483647;
}
#_twishare_to_misskey_share_img{
	height: 100%;
}
